.media__text-slide {
  font-weight: 300;
  font-size: 30px;
  line-height: 42px;
  padding: 50px 50px 0px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .media__text-slide {
    line-height: 27px;
    padding: 20px 20px 0px 20px;
    font-size: 16px;
  }
}