.logo_place_header {
  width: 184px;
  height: 38px;
  position: absolute;
  left: calc(50% - 92px);
  bottom: calc(50% - (38px/2));
}

@media screen and (max-width: 768px) {
  .logo_place_header {
    left: calc(50% - 92px);
  }
}

@media screen and (max-width: 480px) {
  .logo_place_header {
    width: 100px;
    height: 20px;
    bottom: 22px;
  }
}