.media__bullet {
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: $border;
  border-radius: 50%;
  cursor: pointer;
}

.media__bullet:last-child {
  margin-right: 0;
}