.form__input {
  padding: 0;  
  box-sizing: border-box;
  font-weight: 400;
  font-size: 9px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $textColor;
  background-color: $backgroundColor;
  border: none;
}