.footer__copyright {
  margin:165px 50px 0px 0px;
  align-self: flex-end;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 1px;
}

@media screen and (max-width: 699px) {
  .footer__copyright {
    margin:20px 0px 20px 32px;
    align-self: flex-start;
  }
}