.info {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-bottom: $borderStyle;
}

@media screen and (max-width: 768px) {
  .info {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content min-content;
  }
}

@media screen and (max-width: 320px) {
  .info {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content min-content min-content;
  }
}