@media screen and (max-width: 768px) {
  .info__card_position_second {
    min-height: 506px;
  }
}

@media screen and (max-width: 480px) {
  .info__card_position_second {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}