.start__text {
  font-weight: 400;
  font-size: 19px;
  margin: 0;
  line-height: 28px;
  padding-bottom: 62px;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .start__text {
    line-height: 14px;
    padding-bottom: 60px;
    font-size: 11px;
  }
}