.page__section_place_start {
  padding: 150px 0px 150px 0px;
}

@media screen and (max-width: 768px) {
  .page__section_place_start {
    padding: 0px 0px 102px 0px;
  }
}

@media screen and (max-width: 320px) {
  .page__section_place_start {
    padding: 0px 0px 62px 0px;
  }
}