.info__ul {
  padding-left: 50px;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  margin: 0;

}

@media screen and (max-width: 320px) {
  .info__ul {
    padding: 0px 0px 6px 20px;
    font-size: 16px;
    line-height: 20px;
  }
}

/*.info__ul:last-of-type {
  padding: 0px 0px 20px 20px;
}*/