$textColor: #E1FD2C;
$textHoverColor: #191D2C;
$backgroundColor: #191D2C;
$backgroundHoverColor: #E1FD2C;
$fontFamily: 'Source Sans Pro', Arial, sans-serif;
$temporaryBorder: 1px solid red;
$borderStyle: 1px solid #E1FD2C;
$desktopWidth: 1440px;
$tabletWidth: 768px;
$mobileWidth: 320px;
$logoBigWidth: 184px;
$logoSmallWidth: 100px;