.header__nav {
  align-self: center;
  padding-left: 50px;
}

@media screen and (max-width: 900px) {
  .header__nav {
    /* display: none;*/
  }
}

@media screen and (max-width: 320px) {
  .header__nav {
    padding-left: 20px;
  }
}